*{font-family: 'Inter','Noto Sans CJK SC', sans-serif;}
.katex-html{text-align:left;}

a, a:visited{text-decoration:none;color:#3a8fb7;}
a:hover{text-decoration:underline #3a8fb7 2px;}

em {font-family: 'Open Sans';}
em strong,strong em{color: #3a8fb7;font-style:normal;}

blockquote{border-left-color:#3a8fb7;}
