*{font-family:'Ubuntu','Noto Sans CJK SC';}
a, a:visited{text-decoration:none;color:#3a8fb7;}
a:hover{text-decoration:underline #3a8fb7 2px;}
em strong,strong em{color: #3a8fb7;font-style:normal;}
.katex-html{text-align:left;}
